body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.proencaLogo {
  width:300px;
  height:auto;
}

.carousel-inner {
  max-height: 80vh !important;
}
.carousel-inner img{
  vertical-align: top;
}
@media (max-width: 900px) {
  .carousel-inner {
    width:auto;
    height:auto;
  }
}